@media #{$lg-device} {
    .main-social {
        bottom: -10px !important;
        width: 85px !important;
        height: 100px !important;
        transform: rotate(90deg);
        right: 13% !important;
        // + center
        // bottom: -9px !important;
        // width: 100px;
        // height: 108px;
        // transform: rotate(90deg) translateY(-67%);
        // left: 53%;
        // right: auto !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        transform: rotate(-90deg);
    }
}

@media #{$md-device} {
    .main-social {
        bottom: -15px !important;
        width: 75px !important;
        height: 100px !important;
        transform: rotate(90deg);
        right: 13% !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        top: 90px !important;
        right: 40px !important;
        width: 40px !important;
        height: 20px !important;
    }
}

@media #{$sm-device} {
    .main-social {
        bottom: -8px !important;
        width: 60px !important;
        height: 75px !important;
        transform: rotate(90deg);
        right: 20% !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        top: 70px !important;
        right: 30px !important;
        width: 33px !important;
        height: 20px !important;
    }
}

@media #{$xs-device} {
    .main-social {
        bottom: -8px !important;
        width: 60px !important;
        height: 75px !important;
        transform: rotate(90deg);
        right: 15% !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        top: 70px !important;
        right: 30px !important;
        width: 33px !important;
        height: 20px !important;
    }
}

.main-social {
    display: grid;
    position: fixed;
    right: 0;
    bottom: calc(45% + 8px);
    z-index: 100;
    width: 80px;
    height: 100px;
    .icon-image {
        background: linear-gradient(to right, #ff353b, #0e0e0e);
        margin: 5px 0px;
        padding: 10px 10px 10px 10px;
        border-radius: 50px 0px 0px 50px;
    }
    .icon-image img {
        border-radius: 50px 50px 50px 50px;
    }
}

.offer {
     ::after {
        display: block;
        content: "";
        width: 50px;
        height: 20px;
        position: absolute;
        top: 100px;
        right: 50px;
        background: url('@/static/images/new/new-badge.png') no-repeat;
        background-size: contain;
        animation: blink 1.2s step-start 0s infinite;
        -webkit-animation: blink 1.2s step-start 0s infinite
    }
    @keyframes blink {
        50% {
            opacity: 0
        }
    }
    @-webkit-keyframes blink {
        50% {
            opacity: 0
        }
    }
}