@media #{$lg-device} {
    .main-social {
        bottom: -30px !important;
        // width: 40px !important;
        // height: 100px !important;
        transform: rotate(90deg);
        right: 15% !important;
        // + center
        // bottom: -9px !important;
        // width: 100px;
        // height: 108px;
        // transform: rotate(90deg) translateY(-67%);
        // left: 53%;
        // right: auto !important;
    }
    .icon-image {
        margin: 2px 0px !important;
        padding: 7px 6px 7px 6px !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        transform: rotate(-90deg);
        width: 30px !important;
        height: 20px !important;
        top: 45px !important;
        right: 22px !important;
    }
}

@media #{$md-device} {
    .main-social {
        bottom: -30px !important;
        // width: 40px !important;
        // height: 100px !important;
        transform: rotate(90deg);
        right: 20% !important;
    }
    .icon-image {
        margin: 2px 0px !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        transform: rotate(-90deg);
        width: 30px !important;
        height: 14px !important;
        top: 47px !important;
        right: 25px !important;
    }
}

@media #{$sm-device} {
    .main-social {
        bottom: -30px !important;
        // width: 40px !important;
        // height: 100px !important;
        transform: rotate(90deg);
        right: 20% !important;
    }
    .icon-image {
        margin: 2px 0px !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        transform: rotate(-90deg);
        width: 30px !important;
        height: 14px !important;
        top: 47px !important;
        right: 25px !important;
    }
}

@media #{$xs-device} {
    .main-social {
        bottom: -30px !important;
        // width: 40px !important;
        // height: 100px !important;
        transform: rotate(90deg);
        right: 20% !important;
    }
    .icon-image {
        margin: 2px 0px !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        transform: rotate(-90deg);
        width: 30px !important;
        height: 14px !important;
        top: 47px !important;
        right: 25px !important;
    }
}

@media #{$xxs-device} {
    .main-social {
        bottom: -30px !important;
        // width: 40px !important;
        // height: 100px !important;
        transform: rotate(90deg);
        right: 20% !important;
    }
    .icon-image {
        margin: 2px 0px !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        transform: rotate(-90deg);
        width: 30px !important;
        height: 14px !important;
        top: 47px !important;
        right: 25px !important;
    }
}

@media #{$xss-device} {
    .main-social {
        bottom: -30px !important;
        width: 40px;
        height: 94px;
        transform: rotate(90deg);
        right: 20% !important;
    }
    .icon-image {
        margin: 2px 0px !important;
    }
    .icon-image img {
        transform: rotate(-90deg);
    }
    .offer ::after {
        transform: rotate(-90deg);
        width: 30px !important;
        height: 14px !important;
        top: 47px !important;
        right: 25px !important;
    }
}

.main-social {
    display: grid;
    position: fixed;
    right: 0;
    bottom: calc(45% + 8px);
    z-index: 100;
    width: 50px;
    height: 100px;
    .icon-image {
        background: linear-gradient(to right, #ff353b, #0e0e0e);
        margin: 2px 0px;
        padding: 8px 5px 8px 5px;
        border-radius: 40px 0px 0px 40px;
    }
    .icon-image img {
        border-radius: 50px 50px 50px 50px;
    }
}

.offer {
     ::after {
        display: block;
        content: "";
        width: 30px;
        height: 15px;
        position: absolute;
        top: 70px;
        right: 30px;
        background: url('@/static/images/new/new-badge.png') no-repeat;
        background-size: contain;
        animation: blink 1.2s step-start 0s infinite;
        -webkit-animation: blink 1.2s step-start 0s infinite
    }
    @keyframes blink {
        50% {
            opacity: 0
        }
    }
    @-webkit-keyframes blink {
        50% {
            opacity: 0
        }
    }
}