/* Style the tabs */
.online-player {
    margin-bottom: -2px; // hide bottom border
    border: 1px solid #ccc;
    //display: flex;
    .on-pl-col {
        float: left;
    }
    .thumb {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        .thumb-head {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            padding: 3px 3px 3px 3px;
            display: flex;
        }
        .thumb-head span{
            font-size: $font-size-12;
            color: $white;
        }
        .online-num {
            .horz-list ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                text-align: center;
            }
            .horz-list ul li {
                display: inline;
            }
            .horz-list ul li a {
                background-color: $theme-color;
                font-size: $font-size-30;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                padding: 5px;
                margin: 0 0 0 0;
            }
            @media #{$lg-device} {
                .horz-list ul li a {
                    background-color: $theme-color;
                    font-size: $font-size-20;
                    text-transform: uppercase;
                    color: #fff;
                    text-decoration: none;
                    padding: 5px;
                    margin: 0 0 0 0;
                }
            }
        }
        .online-pl {
            color: $white;
            font-size: $font-size-12;
        }
        .online-date {
            color: $white;
            font-size: $font-size-12;
        }
    }
}


