/* Style the tabs */

.payment-method {
    margin-bottom: -2px; // hide bottom border
    border: 1px solid #ccc;
    //display: flex;
    .on-pl-col {
        float: left;
    }
    .payment-head {
        font-size: $font-size-12;
        color: $theme-color3;
        font-weight: $font-weight-bold;
        span {
            color: $theme-color;
        }
    }
}

.md-5-override {
    margin-bottom: 0rem !important;
}