//slidebar border
#carousel {
    .carousel-inner {
        border-radius: 15px;
    }
    .carousel-indicators li {
        box-sizing: border-box;
    }
    .img-fluid {
        min-height: 300px;
    }
}