/* Style the tabs */
.tabs {
    overflow: hidden;
    margin-bottom: -2px; // hide bottom border
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
}

.tabs ul {
    list-style-type: none;
    margin-left: 20px;
}
.tabs li {
    list-style: none;
}
.tabs a{
    padding: 7px 0px 7px 0px;
    color: $black-2a;
    text-align: center;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s;
    border-right: none;
    font-weight: bold;
    font-size: $font-size-12;
}

/* Change background color of tabs on hover */
.tabs a:hover {
    background-color: $theme-color;
    color: $white;
}

/* Styling for active tab */
.tabs a.active {
    background-color: $theme-color;
    color: $white;
    cursor: default;
}

/* Style the tab content */
.content-detail {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.r-l-border {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}