            #mode-game {
                background-color: #fff;
                border-radius: 10px;
            }
            
            .size-game {
                padding: 15px 200px;
            }
            
            .box-cetner {
                padding: 15px 300px;
            }
            
            .image-size {
                width: 100%;
            }
            
            @media (max-width: 600px) {
                .size-game {
                    padding: 10px 100px;
                }
            }
            
            @media (max-width: 575.98px) {
                .size-game {
                    padding: 10px 100px;
                }
                .col-sm-4 {
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }
            }
            
            // Small devices (landscape phones, less than 768px)
            @media (max-width: 767.98px) {
                .size-game {
                    padding: 10px 100px;
                }
            }
            
            // Medium devices (tablets, less than 992px)
            @media (max-width: 991.98px) {
                .size-game {
                    padding: 10px 100px;
                }
            }
            
            // Large devices (desktops, less than 1200px)
            @media (max-width: 1199.98px) {
                .size-game {
                    padding: 10px 75px;
                }
            }
            
            .mb-5-margin-bottom {
                margin-bottom: 1rem !important;
            }
            
            .mb-5-margin-bottom {
                .space-row {
                    margin: 10px 0px 0px 0px;
                }
                .space-row p {
                    font-weight: 600;
                }
                .space-row {
                    // display: flex;
                    // justify-content: space-between;
                }
            }
            
            .link-space {
                text-align: center;
            }