/*
-----------------------------------------------------------------------
  Footer CSS
-----------------------------------------------------------------------
*/

.footer-area {
    padding: 0px 15px 60px;
    background-position: bottom center;
    background-repeat: no-repeat;
    .footer-item {
        @media #{$md-device} {
            span {
                font-size: $font-size-12;
            }
        }
        @media #{$xs-device} {
            span {
                font-size: $font-size-10;
            }
        }
    }
    .footer-img {
        height: 26px;
    }
    @media #{$sm-device} {
        .footer-img {
            height: 20px;
        }
        .text-left {
            text-align: center !important;
        }
        .text-right {
            text-align: center !important;
        }
    }
    @media #{$xs-device} {
        .footer-img {
            height: 17px;
        }
        .col-6 {
            max-width: 100% !important;
        }
    }
}